<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technology Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">Technology Blog</a>
            </h1>
            <nav>
                {{#if loggedIn}}
                <a href="/dashboard">dashboard</a>
                <button id="logout" class="btn-no-style">logout</button>
                {{else}}
                <a href="/login">Login</a>
                <a href="/login">Signup</a>
                {{/if}}
            </nav>
        </header>
        <section>
            {{#if loggedIn}}
            {{console.log(session.user)}}
            <p>Hello Insider!</p>
            {{else}}
            <h2>Read great technology thoughts here!</h2>
            <p>Please signup to become a user and start contributing</p>
            {{/if}}
        </section>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Thanks for visiting!
        </footer>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>